*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(27, 125, 253);
    color: wheat;
}
img{
    width: 300px;
    height: 100px;
    transform: translateX(30%);
}
.type{
    margin-top: 20px;
    color: rgb(23, 26, 197);
}
.container{
    width: 400px;
    height: 350px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
}
.litre-box,
.results{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.benzin-type{
    margin-bottom: 30px;
}
input{
    width: 70px;
}
.btn-type{
    background-color: rgb(0, 17, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
}
#litres{
    width: 100px;
    margin-left: 20px;
    border: none;
    border-radius: 3px;
}
#price-value{
    border: 2px solid blue;
    width: 110px;
    height: 30px;
    padding-left: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#total-price{
    border: 2px solid rgb(21, 204, 97);
    width: 110px;
    height: 30px;
    padding-left: 7px;
    margin-top: 10px;
}

.btn-92,
.btn-95,
.btn-98{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(231, 37, 76);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}
.btn-95{
    background-color: rgb(34, 179, 164);
}
.btn-98{
    background-color: rgb(202, 106, 17);
}
